<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>yaskkserv2</string>
    <key>ProgramArguments</key>
    <array>
      <string>__HOME__/.yaskkserv2/bin/yaskkserv2</string>
      <string>--no-daemonize</string>
      <string>--google-suggest</string>
      <string>--google-cache-filename=/tmp/yaskkserv2.cache</string>
      <string>__HOME__/dev/dotfiles/macos/dict/dictionary.yaskkserv2</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
